<!-- 
    <div class="container text-center mt">
        <h1>Welcome to Login App</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login Here</a>
    </div>
</div> -->
<div class="bootstrap-wrapper mt-5">
  <div class="container">
    <div class="row text-center">
      <section id="hero" class="d-flex align-items-center">
        <div
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
              <h2 style="color: black">
                "World class consumer and trends research capabilities. we
                design for tommorrow customers in tommorrow market."
              </h2>
            </div>
          </div>
          <div class="text-center">
            <a routerLink="/login" class="btn-get-started scrollto"
              >Get Started</a
            >
          </div>
        </div>
      </section>
      <!-- End Hero -->
    </div>
  </div>
</div>
